@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <button type="button" onclick="document.getElementById('demo'). innnerHTML = Date()"> Click me to display Date and Time.</button>
    <p id="demo"></p>
    <p></p>
</div>