@page
@model Manage_Store.Pages.CreateItem

@{
   ViewData["Title"] = "Tao San Pham moi"
}

<!DOCTYPE html>

<html>
<head>
    <title> Tao san pham moi</title>
</head>
<body>
<div>
    <form method="post">
        
    </form>
</div>
</body>
</html>