@page
@using Microsoft.AspNetCore.Components.Web
@model Manage_Store.Pages.CreateItemType

@{
    ViewData["Title"] = "Tao danh sach ma hang";
}

<!DOCTYPE html>

<html>
<head>
    <title>Tao danh sach ma hang</title>
</head>
<body>
<div>
    
</div>
</body>
</html>