@page
@using Microsoft.AspNetCore.Components.Web
@model Manage_Store.Pages.Import

@{
    ViewData["Title"] = "Nhap kho";
}

<!DOCTYPE html>

<html>
<head>
    <h1 class="h1">Quan Ly Nhap Kho</h1>
</head>
<body>

<section class="btn-group-lg">
    <button class="btn btn-outline-primary" onclick="window.location.href='/ImportNew'">Nhap hang</button>
    <button class="btn btn-outline-primary" onclick="window.location.href='/ImportHistory'">Lich su</button>
</section>
<div>

</div>
</body>
</html>