@page
@using Microsoft.AspNetCore.Http.Features
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<header>
  <h1 class="h1">Kho Hang</h1>
</header>
<body>
<h6>Chuc Nang</h6><br/>
<div class="nav">

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<section class="btn-group-lg">
        <button class="btn btn-outline-primary" onclick="window.location.href='/ItemCreate'">Tao San Pham Moi</button>
        <button class="btn btn-outline-primary" onclick="window.location.href='/LabelCreate'">Cap Nhat Loai Hang</button>
    </section>

<section1 class="table">
    
</section1>
</body>