@page
@using Microsoft.AspNetCore.Http.Features
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<header>
  <h1 class="h1">nothing to say</h1>
</header>
<body>
<div class="text-center">
  <h1 class="display-4">Welcome</h1>

  <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
</body>