@page
@model Manage_Store.Pages.Sale

@{
<<<<<<< Updated upstream
    ViewData["Title"] = "Kenh ban hang";
=======
    
>>>>>>> Stashed changes
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
<<<<<<< Updated upstream
    <h1>@ViewData</h1>
    <h2> Chua hoan thanh</h2>
=======
    
>>>>>>> Stashed changes
</div>
</body>
</html>