@page
@model Manage_Store.Pages.Sale

@{
    ViewData["Title"] = "Kenh ban hang";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h1>@ViewData</h1>
    <h2> Chua hoan thanh</h2>
</div>
</body>
</html>