@page
@model Manage_Store.Pages.Store

@{
    ViewData["Title"] = "Kho Hang";
}

<!DOCTYPE html>

<html lang="vi">
<head>
    <title>Thong tin kho hang</title>
</head>
<body>
<div class="text-center">
    

</div>
<table class="table">
    
</table>
</body>
</html>