@page
@using WebApplication2.Services
@model WebApplication2.Pages.MH_Nhapdiem

@{
    Layout = "Shared/_Layout";
    Diem2D a = default;
    a.X = 0;
    a.Y = 0;
    if (Request.HasFormContentType)
    {
        a.X = double.Parse(Request.Form["tdX"]);
        a.Y = double.Parse(Request.Form["tdY"]);
    }
    bool kq= Khonggian.luudiem(a);
    string notification = $"Ket qua {kq}";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <form method="post">
        <label>Toado X:</label> 
        <input type="text" name="tdX" value="@a.X"/>
        <label>; Y: </label>
        <input type="text" name="tdY" value="@a.Y"/>
        <input type="submit" value="nhap">
    </form>
    @notification;
</div>
</body>
</html>