@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">I wanna change some thing right there</a>.</p>
    <p>How do i know what tinh</p>
</div>