@page
@model WebApplication2.Views.Home.Té_page

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Té page well come</title>
</head>
<body>
<div>
    <p>Nắng chiếu lung linh cánh hoa vàng</p>
</div>
<button>linh tinh</button>
</body>

</html>