<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Do An Quan ly Hang</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/Manage_Store.styles.css" asp-append-version="true"/>
      @* <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> *@
      @* <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> *@
      @* <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> *@
</head>
<body>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: rgb(191,208,250);
}
</style>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">Quan Ly Hang Hoa</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggle-icon"></span>
            </button>
            <div class="navbar navbar-expand navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <section class="btn btn-group|">
                    <button class="btn btn-primary" onclick="window.location.href='/index'">Home</button>
                    <button class="btn btn-primary" onclick="window.location.href='/Import'">Nhap Kho</button>
                    <button class="btn btn-primary" onclick="window.location.href='/Sale' ">Ban Hang</button>
                    <button class="btn btn-primary" onclick="window.location.href='/Summary'">Thong ke</button>
                </section>
                @* <ul class="navbar-nav flex-grow-1 align-content-center"> *@
                @*     <li class="nav-item"> *@
                @*         <a class="nav-link text-dark" asp-area="" asp-page="/Index" aria-atomic="true">Home</a> *@
                @*     </li> *@
                @*     <li class="nav-item"> *@
                @*         <a class="nav-link text-dark" asp-area="" asp-page="/Store">Kho Hang</a> *@
                @*     </li> *@
                @*     <li class="nav-item"> *@
                @*         <a class="nav-link text-dark" asp-area="" asp-page="/Import">Nhap Hang</a> *@
                @*     </li> *@
                @*     <li class="nav-item"> *@
                @*         <a class="nav-link text-dark" asp-area="" asp-page="/Sale">Ban Hang</a> *@
                @*     </li> *@
                @*     <li class="nav-item"> *@
                @*         <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a> *@
                @*     </li> *@
                @* </ul> *@
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2022 - Manage_Store - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>